body {
  background: #000000;
  color: #ffffff;
  margin: 0;
  overscroll-behavior-y: contain;
  position: fixed;
  width: 100vw;
}

.board {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  height: 75vh;
  justify-content: center;
}

.minimap {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  height: 25vh;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  justify-content: center;
}

.board .cell {
  border-radius: 2vw;
  height: 15vw;
  width: 15vw;
}

.minimap .cell {
  border-radius: 1vw;
  height: 5vw;
  width: 5vw;
}

.cell {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.board .letter {
  font-size: 10vw;
}

.minimap .letter {
  font-size: 2vh;
}

.letter {
  background: #323434;
  color: #f6f7f8;
  font-family: sans-serif;
}

.green {
  background: #6fb05c;
}

.yellow {
  background: #e9ba3a;
}

.selected {
  background: #ff9999 !important;
}
